node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

#ignoring database file
db.json

#ignoring package-lock
package-lock.json
*-lock.json
*-lock.yaml

.gradle/*
.gradle/**/*
.expo-shared/*
.expo-shared/**/*

.envrc
.env
